  
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  svg {
    background: #ffeedd; ;
    overflow: visible;
    margin-bottom: 2rem;
    width: 37.5rem;
    height: 19.25rem;
    display: block;
  }
  button {
    margin-bottom: 5px;
    width: 6rem;
  }